html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.app {
    height: 100vh;
    min-height: 720px;
    min-width: 1280px;
    display: flex;
    flex-direction: column;
    font-family: Inter;
}

.app_main {
    width: 100%;
    height: 100%;
    display: flex;
}